:root {
    --primary-color: #34495E; /* Navy Blue */
    --secondary-color: #95A5A6; /* Gray */
    --background-color: #FFFFFF; /* White */
    --text-color: #34495E; /* Navy Blue */
    --nav-hover-color: #3498DB; /* Blue for hover */
    --nav-active-color: #2C3E50; /* Darker Navy Blue for active */
}

.chooseTheme{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border: 1px solid var(--secondary-color);
    width: 30vw;
    justify-content: space-around;
}
.chooseTheme button{
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #2C3E50;
}



body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .brand h1 {
    margin: 0;
    padding-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: var(--background-color);
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--nav-hover-color);
}

nav ul li a.active {
    color: var(--nav-active-color);
}

.container {
    padding: 20px;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.card {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}

.card h1 {
    font-size: 3em;
    margin: 0;
}

.card p {
    margin: 10px 0 0;
}

.table-container {
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid var(--secondary-color);
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.action-buttons a {
    margin-right: 10px;
    color: var(--nav-hover-color);
    text-decoration: none;
}

.action-buttons a:hover {
    color: var(--nav-active-color);
}

.form-container{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.form-container form{
    padding: 1rem;
    width: 400px;
    height: fit-content;
    border: 1px solid #ccc;
}
